<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.santeh.rjhonsl.fishtaordering"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />


    <!--READ WRITE-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/photo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Main.MainActivity"
                  android:theme="@style/Theme.AppCompat.Light.NoActionBar"
                  android:label="New Order">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN"/>-->
                <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            <!--</intent-filter>-->
        </activity>

        <activity android:name=".Main.Activity_PickItem"
                  android:theme="@style/Theme.AppCompat.Light.NoActionBar"
                    android:label="Select Item">
        </activity>


        <activity android:name=".Main.Activity_OrderHistory"
                  android:theme="@style/CustomActionBarTheme"
                  android:label="Order History">
        </activity>

        <activity android:name=".Main.Activity_Settings"
                  android:theme="@style/CustomActionBarTheme"
                  android:label="Settings">
        </activity>

        <activity android:name=".Main.Activity_Wiz_SetServerNum"
                  android:theme="@style/CustomActionBarTheme"
                  android:label="Set Server Number">
        </activity>

        <activity android:name=".Main.Activity_Wiz_UserName"
                  android:theme="@style/CustomActionBarTheme"
                  android:label="Set Store Name">
        </activity>

        <activity android:name=".Main.Activity_Welcome"
                  android:theme="@style/Theme.AppCompat.Light.NoActionBar"
                  android:label="Select Fish">
        </activity>

        <activity android:name=".Main.Activity_SetupSuccess"
                  android:theme="@style/Theme.AppCompat.Light.NoActionBar"
                  android:label="Sucess">
        </activity>

        <activity android:name=".Main.Activity_Wiz_Stores"
                  android:theme="@style/Theme.AppCompat.Light.NoActionBar"
                  android:label="Select Stores">
        </activity>

        <activity android:name=".Main.Activity_Home"
                  android:theme="@style/Theme.AppCompat.Light.NoActionBar"
                    android:label="Fishta SMS Ordering">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>




        <!-- For Receiving SMS -->
        <receiver
            android:name="com.santeh.rjhonsl.fishtaordering.Util.BR_ReceiveSMS"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BROADCAST_SMS" >
            <intent-filter android:priority="999">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.santeh.rjhonsl.fishtaordering.Util.BR_SMSDelivery" >
            <intent-filter>
                <action android:name="SMS_SENDING_ORDER" />
            </intent-filter>
        </receiver>


    </application>




</manifest>